<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー編集</title>
</head>
<body>
    <h2>ユーザー編集</h2>
    <form action="{{ url_for('crud.edit_user', user_id=user.id) }}" method="post">
        <p>{{ form.username.label }} {{ form.username(value=user.username) }}</p>
        <p>{{ form.submit(value="更新") }}</p>
    </form>
    <form action="{{ url_for('crud.delete_user', user_id=user.id) }}" method="post">
        <input type="submit" value="削除">
    </form>
</body>
</html>