<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <h2>ユーザーの一覧</h2>
    <a href="{{ url_for('crud.create_user') }}">ユーザー新規登録</a>

    <table>
        <tr>
            <th>ID</th>
            <th>ユーザー名</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="{{ url_for('crud.edit_user', user_id=user.id) }}">{{ user.id }}</a></td>
            <td>{{ user.username }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>